[submodule "resources/OcBinaryData"]
	path = resources/OcBinaryData
	url = https://github.com/acidanthera/OcBinaryData.git
[submodule "OpenCorePkg"]
	path = OpenCorePkg
	url = https://github.com/acidanthera/OpenCorePkg.git
[submodule "KVM-Opencore"]
	path = KVM-Opencore
	url = https://github.com/Leoyzen/KVM-Opencore.git
[submodule "OSX-PROXMOX"]
	path = OSX-PROXMOX
	url = https://github.com/luchina-gabriel/OSX-PROXMOX.git
